body {
  font-family: 'Oxygen', sans-serif;
}

.input-fields {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1em;
  margin: auto;
  margin-top: 3em;
  max-width: 50%;
}

.card {
  border: 1px solid black;
  padding: 1em;
}

.loader {
 text-align: center;
}
